.card {
  width: 375px;
  border-radius: 20px;
  -webkit-box-shadow: 3px 4px 15px 4px rgba(0, 0, 0, 0.22);
  box-shadow: 3px 4px 15px 4px rgba(0, 0, 0, 0.22);
  background: var(--white);
  padding: 20px;
  text-align: center;;
}

.card-image {
  width: 100%;
  height: auto;
  border-radius: 20px;
}